@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Krub:wght@400;700&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: linear-gradient(to top, #660000 0%, #000000 10%);
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Krub', sans-serif;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
/*Seleccion de asientos*/
.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #000000;
  border: 0;
  color: #660000;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #660000;
  transition: all 300ms ease;
  box-shadow: 0 5px 10px rgba(102, 0, 0, 0.7);
}

.seat.selected:not(.seat.selected):hover{
    transition: all 300ms ease;
}

.seat.sold {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 300ms ease;
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: #660000;
}

/*Header*/
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

/*Menu*/
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 35px;
    color: #FFFFFF;
}

/*Colocar enlaces de manera horizontal*/
.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 22px;
    padding: 20px;
    color: white;
    display: block;
    transition: all 300ms ease;
}

.menu .navbar ul li a:hover{
    color: #660000;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.botones{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: flex-end;
}

/*Boton login*/
.btn-1{
    display: inline-block;
    padding: 7px 20px;
    background-color: #660000;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: .5rem;
    transition: all 300ms ease;
}
/*Hover boton login*/
.btn-1:hover{
    color: #660000;
    background-color: #FFFFFF;
    transition: all 300ms ease;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.7);
}

hr{
    border: 1px solid #660000;
    width: 90%;
    margin-bottom: 40px;
}

/*Footer*/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    margin-top: 100px;
    border-top: 1px solid #660000;
}

footer ul{
    display: flex;
}

footer h3{
    font-size: 30px;
}

.footer a{
    font-size: 22px;
    padding: 20px;
    color: white;
    display: block;
    transition: all 300ms ease;
}

footer a:hover{
    color: #660000;
    transition: all 300ms ease;
}

/*Responsividad*/
@media (max-width: 991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000000;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .btn-1{
        display: none;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-content{
        flex-direction: column;
        padding: 180px 30px 30px 30px;
    }

    .header-1{
        width: 100%;
        align-items: center;
    }

    .movie{
        padding: 30px 70px;
    }

    .footer{
        margin-top: 30px;
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    footer ul{
        margin-top: 15px;
        justify-content: center;
    }

    hr{
        display: none;
    }
}
